@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #FFF0F5, #ADD8E6);
  height: 100%;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px #6495ED;
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #C0C0C0;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 1px;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #B0E0E6;
  box-shadow: 4px 4px 9px #6495ED;
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #C0C0C0;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  cursor: grab;
  letter-spacing: 3px;
  background: radial-gradient(40% 50%, #F0FFF0, #CAE4D8);

}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px; 
  height: 66px;
}

.start {
  background: radial-gradient(at bottom, #F0FFF0, #B0E0E6);
}

.progress {
  background: radial-gradient(at bottom, #F0FFF0, #B0E0E6);
}

.done {
  background: radial-gradient(at bottom, #F0FFF0, #B0E0E6);
}

.hold {
    border: 5px solid #B1E1E9; 
}

.hide{
    display: none;
}

.hovered{
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 8px #6495ED;
}
